In [1]:
# Import necessary libraries

In [ ]:
# Set up Splinter

# Set up base url

# Set up search parameters

#Set up full url

In [ ]:
# Visit the website

In [ ]:
# Scroll down to load more results

# Define the number of times to scroll the page

# Define the delay (in seconds) between each scroll

# Loop to perform scrolling

In [ ]:
# Parse the HTML


# Create a BeautifulSoup object from the scraped HTML

# Check if HTML was scraped correctly

In [ ]:
# End the automated browsing session

In [2]:
# Extract all the necessary info and insert into lists

In [ ]:
# Create a regular expression pattern to match city and state entries like "City, State"


# Initialize an empty list to store adjusted mileage entries


# Iterate through the original mileage entries

    # Append the current mileage entry to the adjusted list

    
    # Check if the current mileage entry matches the pattern and there are at least two entries in the adjusted list

        # If the conditions are met, insert "0K km" in between the two consecutive city and state entries

In [3]:
# Extracted mileage list (separate from location and extract numeric values only)
# Define regular expressions to extract numeric mileage values in "K km" and "K miles" format

# Initialize an empty list to store cleaned mileage values


# Iterate through the adjusted mileage entries

    # Try to find a match for the "K km" format
    
    
    # Try to find a match for the "K miles" format
    
    
    # Check if either of the formats is found
    
        # If "K km" format is found, convert it to meters and append to the cleaned list
        
        # If "K miles" format is found, convert it to meters and append to the cleaned list

In [ ]:
# Add all values to a list of dictionaries

In [ ]:
# Add the prefix to the URLs

In [ ]:
# Filter the DataFrame to include rows where the 'Model' column matches the specified model, regardless of case.

In [ ]:
# Group the data by "Year" and calculate the mean price for each year

# Create a wider figure

# Create the column chart

# Add values on top of the bars with no digits after the period

# Convert to an integer to remove digits after the period

# Set the labels and title


# Use adaptive scale for the year axis


# Show the chart

In [ ]:
# Find the URL of the cheapest Honda Civic directly from the filtered DataFrame
# Print the URL

In [ ]:
# Export to CSV